
.tangello-space {
  padding: 20px;
  background-color: #FFFFFF; 
  color: #00537A; 
  font-family: 'Nunito', sans-serif; 
}

.carousel-container {
  margin-bottom: 30px;
}

.campus-info {
  margin-top: 20px;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.events-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Centering events for better layout */
}

.event-item {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  text-align: center;
}

.event-item:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.event-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.event-details {
  text-align: left;
  padding: 10px;
}

.event-details h3 {
  margin: 10px 0;
  color: #993333; 
  font-size: 18px;
  font-weight: bold;
}

.event-details p {
  margin: 5px 0;
  color: #555;
  font-size: 14px;
}

.event-details button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #FF6633; /* Main brand color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-details button:hover {
  background-color: #E0532F; /* Darker shade on hover */
}


.dropdown-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 10px;
  background-color: #F3E8DD; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


#campus-select {
  font-family: 'Nunito', sans-serif; 
  font-size: 16px;
  padding: 12px 20px; 
  border: 1px solid #00537A; 
  border-radius: 8px; 
  background-color: white; 
  cursor: pointer; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  outline: none; 
  color: #00537A; 
  width: auto; 
}


.dropdown-container label {
  margin-right: 10px; 
  font-size: 16px; 
  color: #00537A; 
  font-weight: bold; 
}

/* Modal css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050; /* ensures modal is on top of everything */
  padding: 20px;
}

.modal {
  background: #FFFFFF; 
  padding: 30px; 
  border-radius: 10px; 
  max-width: 600px; 
  width: 90%; 
  position: relative;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25); 
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}


.modal h2 {
  color: #993333; 
  font-size: 24px; 
  margin-bottom: 20px;
  text-align: center;
}

.modal p {
  font-size: 16px; 
  color: #00537A; 
  line-height: 1.6; 
  margin-bottom: 12px; 
}

.modal button {
  padding: 12px 24px; 
  background-color: #0AB1E7; 
  color: #ffff;
  border: none;
  border-radius: 6px; 
  font-size: 16px; 
  cursor: pointer;
  transition: background-color 0.2s ease-in-out; 
  margin-right: 10px; 
}

.modal button:hover {
  background-color: #007B9E; 
}

.modal button:last-child {
  background-color: #F3E8DD; 
  color: #993333;
}

.modal button:last-child:hover {
  background-color: #F3E8DD; 
  color: #993333;
}

/*registration form css */

.registration-form {
  width: 100%; 
}

.registration-form h2 {
  color: #0AB1E7; 
}

.registration-form .form-group {
  width: 100%; 
  margin-bottom: 15px;
}

.registration-form .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #F2583E; 
}

.registration-form .form-group input,
.registration-form .form-group textarea {
  width: 100%;
  max-width: 300px; 
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #0A527A; 
  border-radius: 2px; 
  background-color: #F7F9FC; 
  color: #00537A; 
  font-size: 16px;
  cursor: pointer;
  }


.registration-form button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #F2583E; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.registration-form button:hover {
  background-color: #C24731; 
}

.registration-form p {
  color: #0A527A;
  margin-top: 10px;
}

.button-group {
  display: flex;
  justify-content: center; 
  gap: 10px;
}